#main-header{
    background-color: #e8e8e8;
    color: rgb(63, 156, 30);
    text-align: center;
    padding: 10px 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}

#main-header h1{
    margin: 0;
    font-weight: normal;
}
hr{
    border-color: #4CAF50;
    display: block;
}


main{
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;

}

main button{
    background-color: rgb(63, 156, 30);
    color: white;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
    font-size: 22px;
    border-radius: 5px;
    position: relative;
    top: 350px;
}

.main button:hover{
    background-color: #45a049;
}

footer{
    background-color: #e8e8e8;
    color: rgb(63, 156, 30);
    text-align: center;
    padding: 10px 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: fixed;
    width: 100%;
    bottom: 0;
}


#gameBoard{
    margin-top: 20px;
    display: none;
    gap: 2px;
    background-color: #e8e8e8;
    border: 2px solid #4CAF50;
    padding: 2px;
    z-index: 2000;
}


#gameBoard button{
    width: 150px;
    height: 75px;
    font-size: 20px;
    background-color: white;
    border: 2px solid #4CAF50;
    cursor: pointer;
    padding: 10px;
}

#gameBoard button:hover{
    background-color: #f1f1f1;
}
